<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/']">TCS</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a [routerLink]="['/exemplos']">Exemplos</a>
                </li>
                <li>
                    <a [routerLink]="['/exercicios']">Exercicio 1</a>
                </li>
                <li>
                    <a [routerLink]="['/alunos']">Alunos</a>
                </li>

            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>